body{
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* height:100px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: strech;
    
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/* .jumboMod{
    display: flex;
    flex-direction: column;
    } */
.border{
    border: 2px solid rgb(226, 42, 42)
}
